<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="PasswordManagerApp" Language="1041" Version="1.0.0.0" Manufacturer="PasswordManagerApp" UpgradeCode="d3b8f63d-53be-4b94-bfe4-f3f1b3f87c4a">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Description="PasswordManagerApp - 安全なパスワード管理アプリ" />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="PasswordManagerApp" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>

    <Property Id="ARPNAME" Value="PasswordManagerApp" />

    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="PasswordManagerApp" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="PasswordManagerApp" />
      </Directory>
    </Directory>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="*">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="PasswordManagerApp"
                  Description="PasswordManagerApp を起動します"
                  Target="[INSTALLFOLDER]PasswordManagerApp.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKLM" Key="Software\PasswordManagerApp" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Product>
</Wix>
